# =============== #
# Unity generated #
# =============== #
obj/
Assets/AssetBundles/WebGL/
UnityGenerated/
Library/
Logs/
RewiredBackup/
web/
.vs/
Temp/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/AssetBundles/WebGL/goalkeepers.1_100
Assets/AssetBundles/WebGL/goalkeepers.1_100.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/referis.1_100
Assets/AssetBundles/WebGL/referis.1_100.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/thumbs.1_100
Assets/AssetBundles/WebGL/thumbs.1_100.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/Android/Android
Assets/AssetBundles/Android/Android.manifest
Assets/AssetBundles/Android/stadium.generic
Assets/AssetBundles/Android/stadium.generic.manifest
Assets/AssetBundles/WebGL/goalkeepers.1_100
Assets/AssetBundles/WebGL/goalkeepers.1_100.manifest
Assets/AssetBundles/WebGL/pinballs.generic
Assets/AssetBundles/WebGL/pinballs.generic.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/WebGL/en/voices.1_100
Assets/AssetBundles/WebGL/en/voices.1_100.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/iOS/en/goalkeepers.1_100
Assets/AssetBundles/iOS/en/goalkeepers.1_100.manifest
Assets/AssetBundles/iOS/en/players.1_100
Assets/AssetBundles/iOS/en/players.1_100.manifest
Assets/AssetBundles/iOS/en/voices.1_100
Assets/AssetBundles/iOS/en/voices.1_100.manifest
Assets/AssetBundles/iOS/goalkeepers.1_100
Assets/AssetBundles/iOS/goalkeepers.1_100.manifest
Assets/AssetBundles/iOS/iOS
Assets/AssetBundles/iOS/iOS.manifest
Assets/AssetBundles/iOS/pinballs.generic
Assets/AssetBundles/iOS/pinballs.generic.manifest
Assets/AssetBundles/iOS/players.1_100
Assets/AssetBundles/iOS/players.1_100.manifest
Assets/AssetBundles/iOS/referis.1_100
Assets/AssetBundles/iOS/referis.1_100.manifest
Assets/AssetBundles/iOS/stadium.generic
Assets/AssetBundles/iOS/stadium.generic.manifest
Assets/AssetBundles/iOS/thumbs.1_100
Assets/AssetBundles/iOS/thumbs.1_100.manifest
Assets/Resources/settings.json
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_3_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_3_0.bundle.meta
